Create a program that asks the user to enter their name and their age. Print out a message addressed to them that tells them the year that they will turn 100 years old.

e.g 

Example :
|Input | Output |
| ----------- | ----------- |
| John 15 | John you will turn 100 in the year 2107 |
| Sally 56 |Sally you will turn 100 in the year 2066 |

expected output : John you will turn 100 in the year 2107

Arrays are lists of things, these can be different types such as a list of Strings or a list of numbers

In [ ]:
names = ["Alice", "Bob", "Charlie"]
print(names)
print(names[1])

In [1]:
numbers = [10,25,6]
print(numbers[2])

6

print the 3rd 6th and 1st values in the list as one string

In [ ]:
array = ["alice","bob","charlie","dan","ellie","frank","greg"]

Print the first two numbers in the array only if the last number in the list is greater than 5

- hint : len() works on arrays

In [1]:
array = [3,6,2,1,6,7,20,92,1,4,3,2,4,6]

14

We can add things to the end of the array (list) using append

In [2]:
names = ["alice","bob"]
names.append("charlie")
print(names)

['alice', 'bob', 'charlie']

Using input add something to the end of a list and then print the list

In [ ]:
list = [1,4,9]

Ask for an input :
- if the input is greater than the final number in the list append the input to the list

- if not print the list

In [ ]:
list = [1,4,5,8,2,3]

Ask for an input:
- if it is greater than the first item in the list append the sum of the last item and the input to the list
- if it the input is equal to the first item append the item to the list
- if neither condition is met append the value of the input - the first value

After appending print the list

In [ ]:
array = [4,3,7,8]

We can add things to arrays at a specific point using insert

- ARRAY_NAME . insert ( INDEX TO INSERT AT , VALUE TO INSERT)

In [3]:
names = ["bob","alice","charlie"]
names.insert(1,"dan")
print(names)

['bob', 'dan', 'alice', 'charlie']

Write a program to insert a name to the list at the front of the list

Write a program that asks for a number 
- if it is smaller than the 4th value inserts it at the front of the array 
- if it is larger or equal inserts the number at the end of the array

In [ ]:
array = [1,5,6,2,4,7] # 2 is the 4th value in this array

We can remove items from an array using .remove

- ARRAY_NAME . remove (ITEM TO REMOVE)

In [ ]:
fruits = ["apple","orange","bannana"]
fruits.remove("orange")
print(fruits)

remove 9 from the list of numbers and print the new list

In [ ]:
numbers = [5,6,7,12,3,2,8,9,3,2,4,1]

If you need to remove elements from the array using the index (the number) you can use pop

- e.g  ARRAY_NAME . pop(5) 

this removes the 5th element of the list

In [4]:
names = ["barry","harry","sally"]
names.pop(1)
print(names)

['barry', 'harry']

Given an array of names 
- if the first name of the list is harry remove the 2nd name
- if the last name in the list is terry add greg to the end of the list
- then print the list of names

In [ ]:
names1 = ["harry","sally","ben"]

names2 = ["joe","frank","Liz","terry"]

names3 = ["harry","liz","terry"]

names4 = ["hannah","steve","nina"]

We can change the value of items in an array

In [2]:
fruits = ["apple","pear","watermelon"]
fruits[0] = "orange"
print(fruits)

['orange', 'pear', 'watermelon']

Given an array
- if the first value in the array is apple change the last value in the array to watermelon
- otherwise change the first value to apple

print the array

Given an array
- if the array is longer than 5 : change the 3rd and 4th values to be the same as the 1st and 2nd values and then print the array

- if the array is shorter than 5 and the first value is less than 3 print the final value in the array

- else print only the first value in the array

In [ ]:
array1 = [2,7,5,9,5,4]
array2 = [3,0]
array3 = [60,2]