A fast food company charges £1.50 for delivery to your house except for orders of £10 or more where delivery is free. Write code that asks for the basic price of an order and prints "The total price of your order is  ..." where ... is the total price

Given a number print the times table for that number

A train company prices tickets based on journey distance : tickets cost £3 plus 15p for each kilometre (e.g. a ticket for 100 km costs £18). However people over 60 and people under 15 get a 40% discount write a program that takes the :

- journey distance (int)
- age of the passenger (int)

print the price of the ticket

Write a program that adds all numbers up to the given number and prints the results

i.e  
- 3 = 1 + 2 + 3 = 5
- 5 = 1 + 2 + 3 + 4 + 5 = 14

Write a program to find a factorial of an input number

factorial is all numbers before a number multipled together with the number

i.e. 

- 4! = 1 * 2 * 3 * 4 = 24

- 9! = 9 * 8 * 7 * 6 * 5 * 4 * 3 * 2 * 1 = 362880

In [ ]:
num = int(input("enter a number"))

Two values are inputted use a loop to find one number to the power of the other 

i.e 

- input 1 : 2  

- input 2 : 5     

- result =  2^5


reminder ^ means multiplied by itself that many times i.e 4^3 = 4 * 4 *4

use a for loop to find the largest number in a list, print its position and value

In [ ]:
nums = [9,3,2,1,2,45,3,4]

Given list of years calcualte which are leap years. Years which are divisible by 4 are leap years except for years which are divisible by 100. 

hint use % this finds the remainder

In [ ]:
listOfYears  = [2000,2004,2009,2020,2024,2100]

A school teacher is marking work out of 20 but needs to translate marks to a grade A,B,C, or F (marks > 16 get A,marks between 12 and 15 give B, between 8 and 11 are C and marks below 8 are F)

Given a list of marks print a list of grades

- hint :use your own list called grades and add to the list using .append()

In [ ]:
listOfMarks = [18,3,14,12,11]# a f b b c

Given a list of numbers find the average

i.e. All the numbers added together and divided by how many numbers there are

In [ ]:
nums = [8,4,2,1,3,5,6,7,8,3,2,4,5] # 4.461

Given an input check if it exists in the list, print its location, if its not in the list print not in list

In [ ]:
target = int(input("enter the number that you are looking for"))
nums = [9,3,2,1,2,45,3,4]

Given a list print the list in reverse

In [ ]:
listOfNames = ["alice","bob","charles","dan"]

Write a program to print following :

**********
**********
**********
**********

Print the fibonaci sequence given up to input n

In [ ]:
howManyNums = int(input("how many numbers to find?"))
previousNum = 1
currentNum = 1

You can put a loop inside another loop, This is called a nested for loop

In [ ]:
for i in range(3):
    print("outer loop with i = ",i)
    for j in range(4):
        print("inner loop with i = ",i,"and j = ",j) # this part is run 12 times

Write a program to print following :

*
**
***
****
*****

Write a program to print the following

12345
1234
123
12
1

In [ ]:
swapHappened = True
unsortedList = [5,23,6,7,18,8,9,3,1,2]

while(swapHappened == True):
    swapHappened = False
    for i in range (len(unsortedList)):
        if i< len(unsortedList)-1 and unsortedList[i] > unsortedList[i+1]:
            swapHappened = True
            smallerNum = unsortedList[i+1]
            unsortedList[i+1] = unsortedList[i]
            unsortedList[i] = smallerNum
    
print( unsortedList)