In [ ]:
listOfNames = ["alice","bob","charlie"]

for name in listOfNames: 
    print(name)

print("loop just ended")

Print hello to each of the names in the list 

i.e Hello Bob

In [ ]:
listOfNames = ["Alice","Bob","Charlie","Dan"]

Print the first letter of each name in the List

In [ ]:
listOfNames = ["Alice","Bob","Charlie","Dan"]

Print the length of each name in the list

In [ ]:
listOfNames = ["Alice","Bob","Charlie","Dan"]

Print the names which are 3 characters long

In [ ]:
listOfNames = ["Alice","Bob","Charlie","Dan"]

print true if there is a number greater than 25 in the list

In [ ]:
listOfNums = [2,5,6,1,3,42,45,12,9]

print all numbers in the list greater than 5

In [ ]:
listOfNums = [2,5,6,1,3,42,45,12,9]

Print hello to all the people in the list whose name starts with a

In [ ]:
listOfNames = ["alex","bob","alice","andy","barry","alexa","bobby","barbra"]

print hello to all the people whose names start with A **AND** print "4" if their name is exactly 4 characters long

In [ ]:
listOfNames = ["alex","bob","alice","andy","barry","alexa","bobby","barbra"]

check if barry is in the list, if he is print hello barry, if not print no barry

In [ ]:
listOfNames = ["alex","bob","alice","andy","barry","alexa","bobby","barbra"]

Count how many times 7 is in a list

In [ ]:
listOfNums = [3,7,23,24,7,12,77,12,9,3,7,2] # 3
counter = 0

Print all the even numbers in the list

hint : when even numbers are mod 2 they equal 0. i.e 20 % 2 == 0

In [ ]:
listOfNums = [2,4,6,7,1,3,6,7,9]

Add all the even numbers in the list and print the total

In [6]:
listOfNums = [2,4,6,7,1,3,6,7,9]
#18

18

Multiply each number by 5 and print the result

In [ ]:
listOfNums= [2,4,6,7,1,3,6,7,9]

Square each number in the array (multiply by itself)

In [ ]:
listOfNums = [2,4,6,7,1,3,6,7,9]

Find the largest number in the list

In [ ]:
currentLargest = 0
array = [2,5,3,1,4,5,5,6,7,8,9,2,32,3]